<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <script th:fragment="infoEspecialidades" type="text/javascript" th:inline="javascript">

           // Load the Visualization API and the corechart package.
           google.charts.load('current', {'packages': ['corechart']});

           // Set a callback to run when the Google Visualization API is loaded.
           google.charts.setOnLoadCallback(drawChart);
           google.charts.setOnLoadCallback(periodoEgreso);
           google.charts.setOnLoadCallback(egresadosTitulos);
           google.charts.setOnLoadCallback(egresadosTrabajo);
           google.charts.setOnLoadCallback(egresadosTrabajoReferenteACarrera);
           google.charts.setOnLoadCallback(tiempoParaConseguirUnEmpleo);
           google.charts.setOnLoadCallback(egresadosPostgrados);
           // Callback that creates and populates a data table,
           // instantiates the pie chart, passes in the data and
           // draws it.
           function drawChart() {

               // Create the data table.
               var data = new google.visualization.DataTable();
               data.addColumn('string', 'Topping');
               data.addColumn('number', 'Slices');
               data.addRows([[${datosGraficacion.infoCarreras}]]);

               // Set chart options
               var options = {'title': 'Especialidades',
                   'width': 400,
                   'height': 300,
                   is3D: true,
                   fontSize:10,
                   titleTextStyle: {fontSize: 20}
               };

               // Instantiate and draw our chart, passing in some options.
               var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
               chart.draw(data, options);
           }
           
           
           function periodoEgreso() {

               // Create the data table.
               var data = new google.visualization.DataTable();
               data.addColumn('string', 'Topping');
               data.addColumn('number', 'Slices');
               data.addRows([[${datosGraficacion.periodoEgreso}]]);

               // Set chart options
               var options = {'title': 'Periodo Egreso',
                   'width': 400,
                   'height': 300,
                   is3D: true,
                   fontSize:10,
                   titleTextStyle: {fontSize: 20}
               };

               // Instantiate and draw our chart, passing in some options.
               var chart = new google.visualization.PieChart(document.getElementById('periodoEgreso'));
               chart.draw(data, options);
           }
           function egresadosTitulos() {

               // Create the data table.
               var data = new google.visualization.DataTable();
               data.addColumn('string', 'Topping');
               data.addColumn('number', 'Slices');
               data.addRows([[${datosGraficacion.egresadosTitulos}]]);

               // Set chart options
               var options = {'title': 'Título',
                   'width': 400,
                   'height': 300,
                   is3D: true,
                   fontSize:10,
                   titleTextStyle: {fontSize: 20}
               };

               // Instantiate and draw our chart, passing in some options.
               var chart = new google.visualization.PieChart(document.getElementById('egresadosTitulos'));
               chart.draw(data, options);
           }
            function egresadosTrabajo() {

               // Create the data table.
               var data = new google.visualization.DataTable();
               data.addColumn('string', 'Topping');
               data.addColumn('number', 'Slices');
               data.addRows([[${datosGraficacion.egresadosTrabajo}]]);

               // Set chart options
               var options = {'title': 'Trabajan',
                   'width': 400,
                   'height': 300,
                   is3D: true,
                   fontSize:10,
                   titleTextStyle: {fontSize: 20}
               };

               // Instantiate and draw our chart, passing in some options.
               var chart = new google.visualization.PieChart(document.getElementById('egresadosTrabajo'));
               chart.draw(data, options);
           }
           
           function egresadosTrabajoReferenteACarrera() {

               // Create the data table.
               var data = new google.visualization.DataTable();
               data.addColumn('string', 'Topping');
               data.addColumn('number', 'Slices');
               data.addRows([[${datosGraficacion.egresadosTrabjoReferenteACarrera}]]);

               // Set chart options
               var options = {'title': 'Trabajan',
                   'width': 400,
                   'height': 300,
                   is3D: true,
                   fontSize:10,
                   titleTextStyle: {fontSize: 20}
               };

               // Instantiate and draw our chart, passing in some options.
               var chart = new google.visualization.PieChart(document.getElementById('egresadosTrabajoReferenteACarrera'));
               chart.draw(data, options);
           }
           function tiempoParaConseguirUnEmpleo() {

               // Create the data table.
               var data = new google.visualization.DataTable();
               data.addColumn('string', 'Topping');
               data.addColumn('number', 'Slices');
               data.addRows([[${datosGraficacion.tiemposParaEncontrarUnEmpleo}]]);

               // Set chart options
               var options = {'title': 'Trabajan',
                   'width': 400,
                   'height': 400,
                   is3D: true,
                   fontSize:10,
                   titleTextStyle: {fontSize: 20}
               };

               // Instantiate and draw our chart, passing in some options.
               var chart = new google.visualization.PieChart(document.getElementById('tiemposParaEncontrarUnEmpleo'));
               chart.draw(data, options);
           }
           function egresadosPostgrados() {

               // Create the data table.
               var data = new google.visualization.DataTable();
               data.addColumn('string', 'Topping');
               data.addColumn('number', 'Slices');
               data.addRows([[${datosGraficacion.egresadosPostgrados}]]);

               // Set chart options
               var options = {'title': 'Trabajan',
                  'width': 400,
                   'height': 300,
                   is3D: true,
                   fontSize:10,
                   titleTextStyle: {fontSize: 20}
               };

               // Instantiate and draw our chart, passing in some options.
               var chart = new google.visualization.PieChart(document.getElementById('egresadosPostgrados'));
               chart.draw(data, options);
           }
       </script>
    </body>
</html>
