
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title></title>
    </head>
    <body>
        <div th:fragment="comentario" class="card text-center  text-primary my-4 border-light">
            <div class="card-body p-5 bg-light">
                <h2 class="display-4">
                    <i class="fa-solid fa-comment"></i>
                </h2>
                <a th:href="@{/egresados/estadisticas}">
                    <h4 class="mt-5" sec:authorize="hasRole('ROLE_ADMIN')">Comentarios</h4>
                    <h4 class="mt-5" sec:authorize="hasRole('ROLE_EGRESADO')">Dejar comentario</h4>
                </a> 
            </div>
        </div>
    </body>
</html>
