<html xmlns="http://www.w3.org/1999/xhtml">
    <head th:replace="layouts/plantilla :: head">

    </head>
    <body class="bg-light">
        <header th:replace="layouts/plantilla :: header"></header>
        <div th:if="${#request.getParameter('error') != null}" class="container">
            <div class="row">
                <div class="col-md-5 border border-danger rounded pt-2 text-center mx-auto mt-3">
                    <h5 class="text-danger">Error de validación: Los datos introducidos no son válidos</h5>
                </div>
            </div>
            
        </div>
        <section id="login" class="my-5">
            <div class="container">
                <div class="row m-auto justify-content-between">
                    <div class="col-md-5  fondo border borde rounded">
                        <a data-toggle="modal" data-target="#loginAdmin" href="#loginAdmin">
                            <div class="card text-center text-light my-4 borde">
                                <div class="card-body p-5 fondo" >
                                    <h2 class="display-4">
                                        <i class="fa-solid fa-user-tie"></i>
                                    </h2>
                                    <h4 class="mt-5"><p>Iniciar sesión como administrador</p> </h4>
                                </div>
                            </div>
                        </a >
                    </div>




                    <div class="col-md-5 fondo border border-light rounded">
                        <a data-toggle="modal" data-target="#loginUser" href="#loginUser">
                            <div class="card text-center text-light my-4 borde">
                                <div class="card-body p-5 fondo borde" >
                                    <h2 class="display-4">
                                        <i class="fa-solid fa-user-graduate"></i>
                                    </h2>
                                    <h4 class="mt-5"><p>Iniciar sesión como egresado</p> </h4>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

        </section>
        <!-- Modal -->
        <div class="modal fade" id="loginAdmin" >
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header fondo text-light">
                        <h5 class="modal-title" id="exampleModalLabel">Login administrador</h5>
                        <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="POST" th:action="@{/login}" class="container  p-4">
                            <div class="mb-3 form-group" >
                                <label for="nroControlOrCurp" class="form-label">CURP:</label>
                                <input type="text" name="nroControlOrCurp" id="nroControlOrCurp" class="form-control"/>
                            </div>
                            <div class="mb-3 form-group" >
                                <label for="password" class="form-label" >Password:</label>
                                <input type="password" name="password" id="password" class="form-control"/>
                            </div>
                            <input type="submit"  value="Login" class="btn fondo text-light btn-block"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="loginUser" >
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header fondo text-light">
                        <h5 class="modal-title" id="exampleModalLabel">Login egresado</h5>
                        <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="POST" th:action="@{/login}" class="container  p-4">
                            <div class="mb-3" >
                                <label for="nroControlOrCurp" class="form-label">Número de control</label>
                                <input type="text" name="nroControlOrCurp" id="nroControl" class="form-control"/>
                            </div>
                            <div class="mb-3" >
                                <label for="password" class="form-label" >Password:</label>
                                <input type="password" name="password" id="password2" class="form-control"/>
                            </div>
                            <input type="submit"  value="Login" class="btn fondo text-light btn-block"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
